<nz-layout>
  <div nz-row nzJustify="space-around">
    <div nz-col nzSpan="24">
      <nz-carousel nzAutoPlay>
        <div nz-carousel-content *ngFor="let i of array">
          <img nz-image [nzSrc]="i" />
        </div>
      </nz-carousel>
    </div>
    <div nz-col nzSpan="8">
      <nz-card nzHoverable style="width: 100%; padding: 30px 30px 0 0" [nzCover]="coverTemplate1">
        <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate1>
        <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
      </ng-template>
    </div>
    <div nz-col nzSpan="8">
      <nz-card nzHoverable style="width: 100%; padding: 30px 15px 0 15px" [nzCover]="coverTemplate2">
        <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate2>
        <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
      </ng-template>
    </div>
    <div nz-col nzSpan="8">
      <nz-card nzHoverable style="width: 100%; padding: 30px 0 0 30px" [nzCover]="coverTemplate3">
        <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate3>
        <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
      </ng-template>
    </div>
  </div>
  <nz-footer>Ant Design ©2022 Implement By Angular</nz-footer>
</nz-layout>
